.navbar-logo{
    width: 35%;
}

.navbar-item{
    display: flex;
    justify-content: space-between;
    min-width: 70%;
}

.navbar-link{
    text-decoration: none;
}

#navbar-responsive{   
    width: 100vw;
    color: black;
}

.link-logo{
    display: flex;
    justify-content: center;
}