.contact{
    display: flex;
    flex-direction: column;
}


.contact-form-container{
    display: flex;
    flex-basis: 100%;
    padding: 0 2%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2%;
}

.subtitle-contact{
    font-size: 1.5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}
.contact-form input,.contact-form textarea {
    padding: 0.6em 2em;
    border: none;
    border-radius: 0.2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) ;
}
.contact-socialmedia img {
    width: 30px;
    height: auto; 
  }
  
.contact-form-button{
    font-family: 'Source Code Pro', monospace;
    background-color: #18B9C3;
    color: white;
    border: none;
    padding: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5) ;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3em;
}
.contact-form-button:hover {
    transform: translate(0.05em, -0.05em); 
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.4); 
    color: var(--secondary-color-text);
    background: white; 

  }
  
  .contact-form-button:active {
    transform: translate(-0.05em, 0.05em); 
    box-shadow: 0.05em 0.05em 0.3em rgba(0, 0, 0, 0.3); 
  }

.contact-socialmedia-container{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start; 
    margin-top: 5%;
}

.contact-socialmedia{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 2% 0;
    
}

.contact-socialmedia a{
    font-weight: 600;
    color: black;
    margin-left: 2%;
    font-size: 0.9em;
}
.contact-form textarea {
    resize: none;
    font-family: inherit;
  }
@media screen and (width >= 770px ) {
    .contact {
        flex-direction: row; /* Cambia a fila para pantallas más grandes */
      }
    
      .contact-form-container {
        flex-basis: 45%;
      }
      .contact-socialmedia-container {
        margin-top: 1%;
        flex-basis: 45%;
      }
      
    .contact-socialmedia a{
        font-size: 1em;
    }
    .contact-form{
        width: 100%;
    }
}