.round-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.round-card-vector{
    background-image: url(../../../assets/img/WhiteCircle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.round-card-vector img{
    width: 85%;
}

.round-card-description {
    margin: 0;
    color: var(--secondary-color-text);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 1.8rem;
}

.round-card-price{
    font-family: 'Source Code Pro', monospace;
    color: var(--text-color-price);
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}